*{
    margin: 0;
    padding: 0;
}
.name{
    height: 100vh;
    width: 100%;
    background: black;
    column-gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
h1{
    color: white;
    font-size: 40px;
}

.first-name{
    position: absolute;
    top:0;
    left:37%;
    animation: wow 3s infinite;
}

@keyframes wow{
    from{
        top:0%;

    }to{
        top:47.5%;
    }

}

.surname{
    position: absolute;
    bottom:0;
    right:37%;
    animation: wow2 3s infinite;
} 

@keyframes wow2{
    from{
        bottom:0%;

    }to{
        bottom:47.5%;
    }

}

